html, body {
    font-size: 16pt;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
  
body {
    height: calc(100% - 200px);
    margin: auto 20px;
  
    writing-mode: vertical-rl;
    letter-spacing: .06rem;
    line-height: 1.8;
} 
